app = 'hot-honey'
primary_region = 'lax'

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1  # Keep at least 1 machine running (prevents site going down)

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
